:root {
    --dark-blue: #050a30;
    --navy: #000c66;
    --blue: #0000ff;
    --baby-blue: #7ec8e3;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: var(--navy);
    font-family: helvetica, arial, sans-serif;
}
/* Header section */
header {
    padding: 20px 35px;
    background-color: var(--navy);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    color: #665A00;
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: none;
    color: #665A00;
}
 
/*general section style */

section {
    padding: 45px;
    background-color: #f8f8ff;
}
.section-title {
    font-size: 50px;
    border-right: 3px solid;
    padding-right: 15px;
    margin: 0 25px 0 auto;
    border-color: var(--blue);
    width: 35%;
    text-align: right;
}

/*about me section */

.intro p {
    font-size: 20px;
    color: var(--baby-blue);
}

/* Portfolio section */

.workspace {
    display: flex;
    flex-wrap: nowrap;
}

.portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    position: relative;
    border: 1vh solid var(--baby-blue);
}
.card img {
    max-width: 150vh;
    max-height: auto;
    display: block;
    filter: brightness(33%)
}
.card:hover img {
    filter: brightness(100%)
}
.inner {
    position: absolute;
    bottom: 5vh;
    background-color: var(--baby-blue);
}
#coming-soon {
    flex-shrink: 3;
}
.secondary {
    max-width: 75vh;
    max-height: auto;
}
.secondary img {
    max-width: 70vh;
    max-height: auto;
    margin: 0 0 auto auto;
}
.flex-colomn {
    display: flex;
    justify-content: space-around;
}
.contact-info div nav{
    margin: 7px 0;
    align-items: left;
}
.contact-info div nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between left;
    align-items: left;
    list-style: none;
    font-weight: lighter;
    font-size: 1.55vw;
}
.contact-info div nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: none;
    color: var(--blue);
}